* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #fff;
}

h1 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #ecf0f1;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.container {
    text-align: center;
}

.keyboard {
    display: flex;
    justify-content: center;
    position: relative;
}

.key {
    height: 160px;
    width: 40px;
    margin: 0 2px;
    border-radius: 5px;
    border: 1px solid #ecf0f1;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo das teclas brancas */
.key.white {
    background-color: #ecf0f1;
    z-index: 1;
}

/* Estilo das teclas pretas */
.key.black {
    height: 100px;
    width: 30px;
    position: absolute;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #34495e;
    z-index: 2;
    color: white;
}

/* Efeito de hover nas teclas */
.key:hover {
    background-color: #bdc3c7;
    transform: translateY(-5px);
}

.key.black:hover {
    background-color: #7f8c8d;
    transform: translateY(-5px);
}

/* Efeito de "pressionar" as teclas */
.key:active {
    transform: translateY(2px);
}

.key.black:active {
    background-color: #2c3e50;
}

